block templates

	script#tag_row(type='text/mustache')
		.tagRow.row.btn-toolbar
			form.form-inline.newTagForm
				.tags
					span.newTagSpan
						input.form-control.newTag(type='text', placeholder='add tag')

	script#meta_tag_btn(type='text/mustache')
		button.tag.btn.btn-small.btn-default.meta(type='button')
			span {{ tag }} &nbsp;
			i.delete.delete-tag.glyphicon.glyphicon-remove-sign.color-grey.pull-right

	script#cloud_tag_btn(type='text/mustache')
		button.tag.btn.btn-small.btn-default.cloud(type='button')
			span {{tag}}
				
	script#content_image(type='text/mustache')
		img.img-responsive(data-src='blob/{{ _id }}', type='{{ type }}', alt='{{ filename }}')

	script#content_pdf(type='text/mustache')
		object(data-data='blob/{{ _id }}', type="application/pdf")
			| {{ filename }}

	script#clippet(type='text/mustache')
		.clippet.row(data-_id='{{ _id }}')
			.thumb.col-xs-3.col-md-2
				.well
			.metadata.col-xs-9
				.row.filename
					.col-xs-12
						i.delete.delete-clippet.glyphicon.glyphicon-remove-sign
						| {{ filename }}
				.row
					.col-xs-12.tagRowHolder
