block templates

	script#tag_row(type='x-tmpl-mustache')
		.tagRow.row.btn-toolbar
			form.form-inline.newTagForm
				.tags
					span.newTagSpan
						input.form-control.newTag(type='text', placeholder='add tag')

	script#meta_tag_btn(type='x-tmpl-mustache')
		span
			button.tag.btn.btn-small.btn-default.meta(type='button')
				span {{ tag }}
				| &nbsp;
				i.delete.delete-tag.glyphicon.glyphicon-remove-sign.color-grey.pull-right

	script#cloud_tag_btn(type='x-tmpl-mustache')
		span
			button.tag.btn.btn-small.btn-default.cloud(type='button')
				span {{tag}}
				
	script#clippet(type='x-tmpl-mustache')
		.clippet.row(data-_id='{{ _id }}')
			.thumb.col-xs-3.col-md-2
				.well
					img.img-responsive(data-src='imgfile/{{ _id }}', type='{{ type }}', alt='{{ filename }}')
			.metadata.col-xs-9
				.row.filename
					.col-xs-12
						i.delete.delete-clippet.glyphicon.glyphicon-remove-sign
						| {{ filename }}
				.row
					.col-xs-12.tagRowHolder
