<!DOCTYPE html>
<html>
    <head>
        <title>Here's your Stuff!</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header class="container">
            <h1 class="row text-center">
                A clippet manager
            </h1>
            <div class="row" id="controlForm">
                <ul class="nav nav-pills centered">
                    <li class="modeButton active" id="searchEnabled" role="presentation"><a href="#">Search</a></li>
                    <li class="modeButton"        id="uploadEnabled" role="presentation"><a href="#">Upload/Edit</a></li>
                    <li class="modeButton"        id="deleteEnabled" role="presentation"><a href="#">Delete</a></li>
                </ul>
            </div>
        </header>

        <main class="container">

            <div class="row" id="search">
                <form id="searchForm">
                    <div class="col-xs-12 form-group has-feedback">
                        <input id="searchField" name="search" type="text" class="form-control input-lg text-center" placeholder="FILTER TAGS" autocomplete="off"/>
                        <i id="searchClear" class="glyphicon glyphicon-remove-sign form-control-feedback"></i>
                    </div>
                </form>
            </div>

            <div class="row" id="upload">
                <form action="/file-upload" class="dropzone" id="drop">
                    <div class="fallback">
                        <input name="file" type="file" multiple/>
                    </div>
                </form>
            </div>

            <div class="row" id="display">
                <div id="clippets-col" class="col-xs-10 col-md-9">
                    <div id="clippets"></div>
                </div>
                <div id="tag-list-col" class="col-xs-2 col-md-3 panel panel-default text-center">
                </div>
                <div id="preview-col" class="col-xs-9 col-md-10">
                    <div id="preview"><img src='' width='100%'></div>
                </div>
            </div>

        </main>

        <script id="tag_row" type="x-tmpl-mustache">
            <div class="tagRow row btn-toolbar">
                <form class="form-inline newTagForm">
                    <div class="tags">
                        <span class="newTagSpan">
                            <input type="text" class="form-control newTag" placeholder="add tag">
                        </span>
                    </div>
                </form>
            </div>  
       </script>

        <script id="meta_tag_btn" type="x-tmpl-mustache">
            <span>
                <button type="button" class="tag btn btn-small btn-default meta">
                    <span>{{ tag }}</span>&nbsp;
                    <i class="delete glyphicon glyphicon-remove-sign color-grey pull-right"></i>
                </button>
            </span>
        </script>

        <script id="cloud_tag_btn" type="x-tmpl-mustache">
            <span>
                <button type="button" class="tag btn btn-small btn-default cloud">
                   <span>{{ tag }}</span>
                </button>
            </span>
        </script>

        <script id="clippet" type="x-tmpl-mustache">
          <div class="clippet row well" data-_id="{{ _id }}">
            <div class="thumb col-xs-3 col-md-2 align-center">
              <img class="img-responsive"
                data-src="imgfile/{{ _id }}"
                type="{{ type }}"
                alt="{{ filename }}"
              >
            </div>
            <div class="metadata col-xs-9">
                <div class="row filename">
                    <div class="col-xs-12">{{ filename }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 tagRowHolder"></div>
                </div>
            </div>
          </div>
        </script>

        <script src="https://code.jquery.com/jquery-2.2.1.min.js"
                integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
                crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.js"></script>

        <script src="/client.js"></script>

    </body>
</html>
