body {
    height         : 100vh;
    display        : flex;
    flex-direction : column
}

header {
    margin-bottom: 15px;
}

main {
    /* fill remaining space */
    flex       : 1;
    overflow-y : scroll;
}

/* ------------------------------------------------------- */

#controlForm {
    padding : 30px;
}

/* ------------------------------------------------------- */

#search input {
    background-color : #dfd;
}

#searchClear {
    /* re-enable clickability on "clear" icon */
    pointer-events : auto;
}

/* ------------------------------------------------------- */

#display {
    height: 97%;
}

#clippets-col, #tag-list-col, #preview-col, #clippets {
    overflow-y : scroll;
    height     : inherit;
}

#clippets-col {
    padding-left: 0px;
}

/* ------------------------------------------------------- */

.dropzone {
    background-color: #ddd;
}

.delete {
    color : #f33;
}

.form-control-feedback {
    /* move "clear search field" icon in from right edge */
    right: 15px;
}

.nav-tabs.centered, .nav-pills.centered {
    text-align:center;
}

.nav-tabs.centered > li, .nav-pills.centered > li, well {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.thumb {
    display: inline-block !important;
}

.well {
    padding: 10px !important;
    height: 10vh;
    overflow-y: hidden;
    margin: 10px auto !important;
}

i:before {
    vertical-align : middle;
}

img {
    margin: 0 auto; /* center in well */
}

button.cloud {
    border-color: #000 !important;
    background-color: #dfd !important;
}

.clippet {
    border-radius: 20px;
    margin: 5px !important;
    text-align: center;
}

.clippet:nth-child(odd){
    background-color:#deecf3;
}

.clippet:nth-child(even){
    background-color:#eee;
}

.panel {
    border-radius: 20px;
    background-color:#888;
}
