#clippets-col {
    overflow-y : scroll;
    height     : 100%;
}

#controlForm {
    padding: 30px;
}

#display {
    height : 90vh;
}

#preview-col {
    display    : none;
    overflow-y : scroll;
    height     : 100%;
}

#search {
    padding-bottom: 30px;
}

#search input {
    background-color: #dfd !important;
}

#searchClear {
    pointer-events: auto;
}

#tag-list-col {
    overflow-y : scroll;
    height     : 100%;
}

#upload {
    padding-bottom: 30px;
}

.delete {
    color : #999;
}

.form-control-feedback {
    right: 15px;
}

.nav-tabs.centered, .nav-pills.centered {
    text-align:center;
}

.nav-tabs.centered > li, .nav-pills.centered > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.well {
    padding: 10px !important;
    max-height: 15vh;
    overflow-y: hidden;
}

i:before {
    vertical-align : middle;
}

img {
    margin  : 0 auto; /* center in well */
}

button.cloud {
    background-color: #dfd !important;
}